<div>
	<% if @songs.any? %>
		<%= render @songs %>
		<%= will_paginate @songs, inner_window: 1, outer_window: 2 %>
	<% else %>
		<%= @text ="<h2>Song isn't available</h2>".html_safe %>
	<% end %> 
</div>