//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
// vendor/assets/stylesheets directory can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the bottom of the
// compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
// files in this directory. Styles in this file should be added after the last require_* statement.
// It is generally better to create a new file per style scope.
//
//= require_tree .
//= require_self
//= require font-awesome



@import "font-awesome";
@import "materialize";
@import "bootstrap-sprockets";
@import "bootstrap";

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$strongGreen: #3cac94;

nav{
	background-color: white;
	margin-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	
	.img_user {
		border-radius: 50%;
	}
	a.brand-logo{
		font-size: 2em;
		margin-left: 20px;
		font-family: 'Pacifico', cursive;
		text-decoration: none;
		color: #00a63f;
		&:hover{
			color: #00ff62;
		}
		.fa{
			margin-right: 10px;
		}
	}
	ul{ 
		a{	
			line-height: 1.8;
			font-weight: bold;
			font-family: Arial;
			padding: 0 20px;
			font-size: 1.5em;
			text-decoration: none;
			margin-top: 10px;
			color: #00a63f;
			//change
			&:after {
				content: '';
				display: block;
				margin: auto;
				height: 3px;
				width: 0px;
				margin-bottom: 10px;
				background: transparent;
				transition: width .5s ease, background-color .5s ease;
			}
			&:hover:after{
				width: 100%;
			    background: linear-gradient(to right, #e6ffef 0%, #00a63f 50%, #e6ffef 100%);
			}
			&:hover {
				color: #00a63f;
				text-decoration: none;
				background: transparent;
			}
		}
		#active:after{
				width: 100%;
			    background: linear-gradient(to right, #e6ffef 0%, #00a63f 50%, #e6ffef 100%);
			}
	}
	form{
		display: inline-block;
		.search-box{
			background-image: url('/assets/searchicon.png');
			background-repeat: no-repeat;
			background-position: 8px 3px;
			border: 1px solid white;
			border-radius: 5px;
			background-color: white;
			padding: 2px 8px 2px 35px;
			width: 140px;
			margin-left: 530px;
			height: 25px;
			color: black;
			font-size: 1.1em;
			transition: width .4s ease-in-out;
			&:focus{
				width: 230px;
			}
		}
	}
	input[type=text]:focus:not([readonly]){
		border-bottom: none;
		border: 1px solid white;
		box-shadow: none;
	}
	.glyphicon{
		font-size: 1.2em;
	}
	.dropdown-menu{
		left: -55px;
		max-width: 150px;
		min-width: 80px;
		text-align: center;
		li {
			width: 100%;
		}
	}
	.notifi-dropdown{
		min-width: 430px;
		left: -280px;
		padding: 0;
		li{
			a{
				padding: 0;
				display: flex;
				align-items: center;
				width: 100%;
				word-wrap: break-word;
				img{
					width: 55px;
					height: 55px;
					margin-right: 8px;
				}
				.notifi-content{
					word-wrap: break-word;
					width: calc(100% - 185px);
					white-space: normal;
				}
				.notifi-time{
					color: #999999;
					width: 140px;
					text-align: right;
				}
				&:hover{
					background-color: transparent;
				}
			}
			line-height: 1;
			color: black;
			display: inline-block;
			padding: 15px 15px;
			border: 1px solid #f1f1f1;
			border-left: none;
			border-right: none;
			&:hover{
				background-color: #f5f5f5;
				transition: background-color .3s ease;
			}
		}
		li.unread{
			background-color: #e7ecf5;
		}
	}
}

footer.page-footer {
  background-color: $strongGreen;
  color: white;

	.title {
		font-weight: bold;
		font-size: 1.5em;
	}

  .fa {
		margin-right: 10px;
	}
}
.pagination {
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 400px;
}

#review_title{
  font-size: 18px;
}

.close_form:hover{
  cursor: pointer;
}

.like-song{
  font-size: 18px;
}

.like-song .fa:hover{
  color: rgb(88, 144, 255);
  cursor: pointer;
}