$white: #fff;
$gray-darker: #ccc;

.song_index {
	width: 50%;
	margin-left: 200px;
	border-bottom: 1px solid gray;
	padding-top: 20px;
	padding-bottom: 20px;

	h5 {
		margin-left: 15px;
	}
	.song_element {
	position: relative;
	margin-left: 150px;
	}

	#song_cover_img {
		position: absolute;
		left: -150px;
	}
}


.song_detail {
	background-color: $white;
	width: 80%;
	margin: 0 auto;
	margin-top: 20px;
	padding: 20px 30px;
	box-shadow: 1px 1px 1px 1px $gray-darker;
	border-radius: 3px;

	.song_content {
		align-items: center;
		display: inline-block;
		width: 100%;
	}

	.info-section {
		align-items: center;
		display: flex;
		float: left;
		max-width: 70%;

		.song_info {
			display: inline-block;
			float: left;
			margin-left: 30px;
		}

		.song_cover_img {
			display: inline-block;
			float: left;
		}
	}
}

#reviews {
	margin: 0 auto;
}

.review_detail {
	background-color: white;
	box-shadow: 1px 1px 1px 1px $gray-darker;
	border-radius: 3px;
	margin: 0 15px 30px;
	padding: 10px;
	text-align: left;

	.review_author {
		border-bottom: 1px solid #EEEEEE;
	}
	.review_articles {
		margin: 5px;

		p {
			margin-bottom: 0 !important;
		}
	}
}
.review_form {
	display: none;
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
    padding-bottom:0;
   
}
.review_form_content {
    /*background-color: #E1F5FE;*/
    margin: auto;
    padding: 20px;
    width: 40%;
    background-color: white;
    border-radius: 10px;
    max-height: 80%;

    label {
    	font-size: 1.5em;
    }
    span .close_form {
    	text-align: right;
    	//???
    }
    .btn {
    	margin: auto;
    	//khong dung auto margin dk???

    }
}
//---------
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}

.rate_avg {
	display:inline-block;
	.fill_star > i.fa {
		color:#ffbf00;
	}
}
.rate_avg ul > li {
  display:inline-block;
}