<div id="froala-editor">
  <p>The classes should be defined in CSS, otherwise no changes will be visible on the image's appearance.</p>
  <%= image_tag "default-song.jpg", class: "fr-fil", alt: "book" %>
</div>